# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Except the example file
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# robot framework dependencies
/robot/venv
/robot/results

# VSCode settings
.vscode/*
